<launch>
    <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>
    <arg name="x_pos" default="-1.5"/>
    <arg name="y_pos" default="-4.0"/>
    <arg name="z_pos" default="0.0"/>
    <arg name="controller" default="false" doc="control the robot with a controller"/>
    <arg name="max_vel" default="0.4" doc="Limit the max velocity of the robot"/>

    <!-- Global veloctiy param  -->
    <param name="/max_velocity" value="$(arg max_vel)"/>

    <!-- Upload robot description xacro to the ros param -->
    <param name="robot_description" command="$(find xacro)/xacro --inorder $(find alberto_description)/urdf/alberto.urdf.xacro" />

    <!-- Spawn the robot in gazebo -->
    <include file="$(find alberto_bringup)/include/alberto_spawn.launch">
        <arg name="x_pos" value="$(arg x_pos)"/>
        <arg name="y_pos" value="$(arg y_pos)"/>
        <arg name="z_pos" value="$(arg z_pos)"/>
    </include>

    <!-- Launch robot state publisher to get tf from joint_state -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

    <!-- Launch rviz, loading configuration file -->
    <node name="rviz" pkg="rviz" type="rviz" args="--display-config $(find alberto_bringup)/config/visualization.rviz" required="false"/>
    

    <!-- Manual Controlling mode -->
    <include if="$(arg controller)" file="$(find alberto_bringup)/include/alberto_joy_teleop.launch"/>

    <group unless="$(arg controller)">
        <node name="rqt_robot_steering" pkg="rqt_robot_steering" type="rqt_robot_steering" args="-t" output="screen"/>
    </group>   
    

    <!-- Yolo perception  -->
    <node pkg="alberto_vision" name="yolo_detection" type="alberto_real_time_detection.py" output="screen">
        <param name="~camera_topic" value="/rrbot/camera1/image_raw"/>
    </node>
        
    <!-- Navigation -->
   <include file="$(find alberto_bringup)/include/alberto_navigation.launch">
   </include> 

</launch>