<launch>
    <!--Bloco 1: argumentos do launch file.-->
    <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>
    <arg name="x_pos" default="-3.0"/>
    <arg name="y_pos" default="1.0"/>
    <arg name="z_pos" default="0.0"/>
    <arg name="empty_map" default="false" doc="initialize gazebo in a empty map"/>
    
    
    <!--Bloco 2: Criação de um world om gazebo.-->
    <group unless="$(arg empty_map)">
        <include file="$(find gazebo_ros)/launch/empty_world.launch">
            <arg name="world_name" value="$(find alberto_description)/worlds/psr_apartment.world"/>
            <!-- <arg name="world_name" value="$(arg map_name)"/> -->
            <arg name="paused" value="false"/>
            <arg name="use_sim_time" value="true"/>
            <arg name="gui" value="true"/>
            <arg name="headless" value="false"/>
            <arg name="debug" value="false"/>
        </include>
    </group> -->

    <!-- Not setting arg world_name defaults to empty map -->
    <group if="$(arg empty_map)">
        <include file="$(find gazebo_ros)/launch/empty_world.launch">
            <!-- <arg name="world_name" value="$(find alberto_description)/worlds/psr_apartment.world"/> -->
            <arg name="paused" value="false"/>
            <arg name="use_sim_time" value="true"/>
            <arg name="gui" value="true"/>
            <arg name="headless" value="false"/>
            <arg name="debug" value="false"/>
        </include>
    </group>

</launch>
<!-- /home/brunofavs/catkin_ws/src/aws-robomaker-small-house-world/worlds -->